.navbar-style {
  background-color: #131a22;
  position: fixed;
  width: 100%;
  /* color: white; */
  z-index: 1;
}

span {
  color: rgb(80, 80, 235);
}

#searchbar {
  width: 70%;
}

#searchbar .input-group-text.right-search {
  background-color: #febd69;
}

/* .list-right {
  display: flex;
} */

.account-for-fixed {
  padding-top: 100px;
}

.phone-link {
  text-decoration: none;
  color: black;
}

.phone-link:hover {
  text-decoration: none;
  color: orange;
}

.stars {
  list-style: none;
  /* margin-left: none; */
  padding-left: 0;
}

.stars li {
  display: inline;
  color: #febd69;
}
